In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import interpolate
plt.rcParams.update({'font.size': 16})

In [2]:
df = pd.read_csv("mc6.csv", low_memory=False)
df.head()

,log_wgt,a,alpha,param_S,param_L,exp1,trans1,exp2,trans2,exp3,...,M_J1748I,M_J1748J,M_B1802,M_B1911,M_J0740,M_CygX2,M_XTEJ2123,M_4U1822,M_HerX1,M_2S0921
0,-26.14187,12.75967,0.494972,32.36369,50.98356,4.357755,1.582262,2.077088,4.003661,1.609999,...,2.045254,1.779825,1.314325,1.385201,2.207856,1.649831,1.585126,1.965501,1.008796,1.534919
1,-35.91854,12.59291,0.483507,32.54933,54.88155,4.067591,1.786952,1.529750,4.011733,2.281623,...,1.862203,1.838142,1.241580,1.431960,2.196152,1.734779,1.501263,2.029143,1.063763,1.459451
2,-33.22483,12.73251,0.482429,32.04979,52.30731,4.027711,1.746149,1.478605,4.392850,0.985660,...,1.892534,1.786212,1.042720,1.359024,2.040667,1.770985,1.505596,1.970395,1.216974,1.404170
3,-26.98751,12.65935,0.484792,31.94090,51.42394,3.561350,1.602668,2.093118,4.203141,1.658805,...,2.001066,1.811977,1.260801,1.456672,2.156587,1.619995,1.476982,2.067586,1.006868,1.426562
4,-27.79984,12.66607,0.491290,32.50498,50.14015,4.602190,2.072255,1.163547,3.866130,1.786381,...,1.958471,1.764471,1.318787,1.448078,2.272503,1.605834,1.523367,2.016298,1.095541,1.519194

In [3]:
y = df.iloc[0:, 0]
x = df.iloc[0:, 1:81]

y = np.array(y, dtype=float)
x = np.array(x, dtype=float)

print("dim(Y) =", y.shape[0])
print("dim(X) =", x.shape[0], "x", x.shape[1])

dim(Y) = 7141
dim(X) = 7141 x 80

In [4]:
np.savetxt("log_wgt.txt", y)
np.savetxt("n_pars.txt", x)