In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import interpolate
plt.rcParams.update({'font.size': 16})

In [2]:
df = pd.read_csv("npoly.csv", low_memory=False)
df.head()

,log_wgt,a,alpha,param_S,param_L,exp1,trans1,exp2,trans2,exp3,...,M_J1748I,M_J1748J,M_B1802,M_B1911,M_J0740,M_CygX2,M_XTEJ2123,M_4U1822,M_HerX1,M_2S0921
0,-17.456440,12.80292,0.496715,32.46307,49.02523,2.124655,1.636782,3.353862,2.000219,1.967404,...,2.142549,1.778901,1.442736,1.320140,2.105657,1.527923,1.494073,2.166098,1.021059,1.664045
1,-18.965910,12.64072,0.489855,32.19586,51.30616,4.735789,1.886637,1.165136,4.063900,1.932808,...,1.900013,1.796498,1.151783,1.308904,2.270686,1.697452,1.602531,2.039890,1.122951,1.554489
2,-13.275930,12.83379,0.491011,31.90834,44.56375,3.452813,2.265673,1.730209,4.093202,1.189058,...,1.929867,1.785937,1.249413,1.387736,2.125046,1.914166,1.535919,1.999881,1.283614,1.382394
3,-0.019748,12.81153,0.508034,32.07274,47.53679,2.640146,1.549762,3.141936,2.386918,1.954838,...,2.012108,1.831415,1.466024,1.406197,2.110820,1.516554,1.331966,1.873985,1.182814,1.342056
4,-13.488530,12.60475,0.490746,31.77415,40.78569,5.165833,2.096958,2.819376,2.558469,0.567651,...,1.890641,1.775064,1.502226,1.368027,1.829141,1.714408,1.801155,2.186934,1.186282,1.507548

In [3]:
y = df.iloc[0:, 0]
x = df.iloc[0:, 1:92]

y = np.array(y, dtype=float)
x = np.array(x, dtype=float)

print("dim(Y) =", y.shape[0])
print("dim(X) =", x.shape[0], "x", x.shape[1])

dim(Y) = 4842
dim(X) = 4842 x 91

In [4]:
np.savetxt("wgt.txt", y)
np.savetxt("pars.txt", x)